logging==0.4.9.6
jsonify==0.5
app==0.0.1
DateTime==4.2
gunicorn==19.7.1
numpy==1.13.1
pandas==0.18.0
scikit-image==0.12.3
scikit-learn==0.17.1
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gapic-google-cloud-pubsub-v1==0.15.4
gapic-google-cloud-spanner-admin-database-v1==0.15.3
gapic-google-cloud-spanner-admin-instance-v1==0.15.3
gapic-google-cloud-spanner-v1==0.15.3
google-api-python-client==1.6.2
google-auth==1.0.1
google-auth-httplib2==0.0.2
google-cloud==0.26.1
google-cloud-bigquery==0.25.0
google-cloud-spanner==0.25.0
google-cloud-storage==1.2.0
pickleshare==0.5
googleapis-common-protos==1.5.2
grpc-google-iam-v1==0.11.1
