body html {
    min-height: 95vh;
    max-height: 95vh;
}
.row {
    min-height: 95vh;
    max-height: 95vh;
    padding: 1vh;
}
#base {
    min-height: inherit;
    height: 100%;
    max-height: inherit;
}
div.col-md-10.col-md-offset-1{
    min-height: inherit;
    height: 100%;
    max-height: inherit;
}
table{
    overflow: hidden;
}
.fixed-header {
    z-index:99;
    background-color: rgba(236, 241, 245, 0.9);
    height: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.space {
    height: 5vh;
}
canvas {
    margin: 1vh;
}
