body html {
    min-height: 95vh;
    max-height: 95vh;
}
canvas {
    margin: 1vh;
}
/*table{
    min-width: 960px;
}*/
#base {
    min-height: inherit;
    height: 100%;
    max-height: inherit;
}
#left-pane {
    padding: 0px;
}
#right-pane {
    height: 100%;
}
.fixed-header {
    z-index:99;
    background-color: rgba(236, 241, 245, 0.9);
    height: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.row {
    min-height: 95vh;
    max-height: 95vh;
    padding: 1vh;
}
.space {
    height: 5vh;
}
.tableScroll {
    overflow: scroll;
    margin: 0px;
    height: 95vh;
}
.navbar-brand {

}
.sub-row{
    height: 25vh;
    min-height: 25vh;
    max-height: 25vh;
    margin: 10px;
}
