body html {
    min-height: 95vh;
    max-height: 95vh;
}
canvas {
    margin: 1vh;
}
#chart {
    height: 47vh;
}
#left-pane {
    padding: 0px;
}
#right-pane {
    height: 100%;
}
#logo {
    padding-top: 0.7vh;
    width: 100%;
    height: 100%;
}
a.disabled {
  color: gray;
  pointer-events: none;
}
.col-md-6 {

}
.col-md-2.top-header {
    padding: 0px;
    width: 10vh;
}
.col-md-10.top-header {
    padding: 0px;
    padding-top: 1vh;
}
.navbar.navbar-default.fixed-header {
    height: 6vh;
}
.navbar-header {
}
.fixed-header {
    z-index:99;
    background-color: rgba(236, 241, 245, 0.9);
    height: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.row {
    padding: 1vh;
}
.space {
    height: 5vh;
}
.tableScroll {
    overflow: scroll;
    margin: 0px;
    height: 95vh;
}
.navbar-brand {

}
.sub-row{
    height: 30vh;
    min-height: 30vh;
    max-height: 30vh;
    margin: 10px;
}
.fade {
    transition: all linear 500ms;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}
