<div class="row">
    <legend>Dashboards</legend>
    <!-- Below is chart-options, that somehow breaks the UI of the chart -->
    <!-- chart-options="optionsDate" -->
    <div class="col-md-6">
        <div>
            <canvas
                id="chart"
                class="chart-base"
                chart="chart"
                chart-type="line"
                chart-data="dataDate"
                chart-options="optionsDate"
                chart-labels="labelsDate"
                chart-colors="colorsAssignee"
                ng-click="showData($event)">
            </canvas>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <canvas
                id="chart"
                class="chart-base"
                chart="chart"
                chart-type="bar"
                chart-data="dataRegion"
                chart-options="optionsRegion"
                chart-labels="labelsRegion"
                chart-click="onClick"
                chart-colors="colorsRegion"
                ng-click="showData($event)">
            </canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div>
            <canvas
                id="chart"
                class="chart-base"
                chart="chart"
                chart-color="colorCategory"
                chart-type="bar"
                chart-data="dataCategory"
                chart-options="optionsCategory"
                chart-labels="labelsCategory"
                chart-colors="colorsCategory"
                chart-dataset-override="datasetOverride"
                ng-click="showData($event)">
            </canvas>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <canvas
                id="chart"
                class="chart-base"
                chart="chart"
                chart-type="horizontalBar"
                chart-data="dataAssignee"
                chart-options="optionsAssignee"
                chart-labels="labelsAssignee"
                chart-colors="colorsAssignee"
                ng-click="showData($event)">
            </canvas>
        </div>
    </div>
</div>
<!-- TEST -->
<div class="row">
    <div class="col-md-6">
        <div>
            <canvas
                id="chart"
                class="chart-base"
                chart="chart"
                chart-color="colorRegionPriority"
                chart-type="bar"
                chart-series="seriesRegionPriority"
                chart-data="dataRegionPriority"
                chart-options="optionsRegionPriority"
                chart-labels="labelsRegionPriority"
                chart-colors="colorsRegionPriority"
                chart-dataset-override="datasetOverride"
                ng-click="showData($event)">
            </canvas>
        </div>
    </div>
</div>

<!-- Values Table -->
<div class="space"></div>
<div class="row">
    <legend>Ten Latest Cases</legend>
    <div class="col-md-12">
        <div class="tableScroll">
            <table class="table table-striped table-hover" id="#valuestable" border="1" bordercolor="#DDDDDD">
                <thead>
                    <tr>
                        <th>Case ID</th>
                        <th>Subject</th>
                        <th>Body</th>
                        <th>Priority</th>
                        <th>Create Date</th>
                        <th>Close Date</th>
                        <th>Category</th>
                        <th>Region</th>
                        <th>Assignee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rawData | limitTo:10">
                        <td>{{row.CaseID}}</td>
                        <td>{{row.Subject}}</td>
                        <td>{{row.Body | limitTo: 50}}{{row.Body.length > 50 ? '...' : ''}}</td>
                        <td>{{row.Priority}}</td>
                        <td>{{row.Created_Date}}</td>
                        <td>{{row.Close_Date}}</td>
                        <td>{{row.Category}}</td>
                        <td>{{row.Region}}</td>
                        <td>{{row.Assignee}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
