<!-- Email Us Form -->
<div class="row">
    <legend>Email Us</legend>
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="subject" placeholder="Email Address" ng-model="subject">
                        <textarea class="form-control" rows="15" id="content" ng-model="content" placeholder="Please input your email here"></textarea>
                        <button type="submit" class="btn btn-default btn-block" ng-click="submitEmail(subject, content)">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
