<div class="row">
    <legend>Active Tickets</legend>
    <input type="text" class="form-control" ng-model="selectid" placeholder="Search Ticket Number">
    <div ng-repeat="row in rawData | filter:{caseID : selectid}">
        <div class="sub-row">
            <div id="left-pane" class="panel panel-default col-md-7">
                <div class="panel-heading">{{row.Subject}}</div>
                <div class="panel-body">{{row.Body}}</div>
                <a
                    href="#"
                    class="btn btn-default btn-block"
                    ng-click="changeBool(row, row.caseID)"
                    ng-if="notHidden == false"
                    ng-model="row.caseID">Click For More
                </a>
                <a
                    href="#"
                    class="btn btn-default btn-block"
                    ng-click="changeBool(row, row.caseID)"
                    ng-if="notHidden == true"
                    ng-model="row.caseID">Click for less
                </a>
            </div>
            <div id="right-pane" class="panel panel-default col-md-5" ng-if="notHidden == true && rightPaneCaseID == row.caseID">
                <div class="panel-heading">Ticket # {{row.caseID}}</div>
                <div class="panel-body">
                    <p><b>Date:</b> {{row.Date}}</p>
                    <p><b>Assignee:</b> {{row.Assignee}}</p>
                    <p><b>Region:</b> {{row.Region}}</p>
                    <p><b>Category:</b>
                        <div class="form-group">
                            <select class="form-control" id="select" ng-init="overwriteCategory = row.Category" ng-model="overwriteCategory">
                                <option ng-repeat="category in allCategories" ng-value="category">{{category}}</option>
                            </select>
                            <button type="submit" class="btn btn-default" ng-click="modifyCategory(overwriteCategory, row.caseID)">Save</button>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>
