{% raw %}
<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<title>Case Routing Demo</title>
	<!-- ico -->
	<link rel="shortcut icon" href='./img/logo.ico'>
	<!-- NormalizeJS -->
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
	<!-- Bootstrap -->
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css'/>
	<!-- JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Angular -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js'></script>
    <!-- ChartJS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js'></script>
    <script src='http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js'></script>
    <!-- Local Files -->
	<script type="text/javascript" src='app.js'></script>
	<script type="text/javascript" src='services.js'></script>
    <script type="text/javascript" src='controllers.js'></script>
    <link rel="stylesheet" href='css/master.css'>
</head>
<body ng-controller="AnalyticsController" id="scrollArea">
	<!-- <a href="/request">Input a request</a> -->
	<nav class="navbar navbar-default fixed-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Case Routing</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Analytics</a></li>
                    <li><a href="/tickets">My Active Tickets</a></li>
                    <li><a href="/email-us">Submit a case</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="#About">About</a></li>
                </ul> -->
            </div>
        </div>
    </nav>
	<div class="space"></div>
	<div class="container-fluid">
		<div ng-view></div>
	</div>
</body>
</html>
{% endraw %}
