<!DOCTYPE html>
<html>
	<head>

	</head>
<body>
<a href="/request">Input a request</a>
<canvas id="CategoryChart"  width="600" height="100" ></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
	var ctx = document.getElementById('CategoryChart').getContext('2d');
	var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ["Technical", "Energy", "Legal", "Communication", "Sales"],
        datasets: [{
            backgroundColor: 'rgb(60, 172, 252)',
            borderColor: 'rgb(0,0,0)',
            data: [4, 10, 5, 2, 8],
        }]
    },

    // Configuration options go here
    options: {}
});
</script>

<canvas id="TimelineChart"  width="600" height="100" ></canvas>
<script>
	var ctx = document.getElementById('TimelineChart').getContext('2d');
	var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["0", "1", "2", "3", "4"],
        datasets: [{
            label: "Cases by Category",
            backgroundColor: 'rgb(60, 172, 252)',
            borderColor: 'rgb(0,0,0)',
            data: [5, 10, 15, 17, 18],
        }]
    },

    // Configuration options go here
    options: {}
});
</script>

</body>
</html>