{% raw %}
<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<title>Case Routing Demo</title>

	<!-- NormalizeJS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" />
	<!-- JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Angular -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
    <!-- ChartJS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js'></script>
    <script src='http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js'></script>
    <!-- Local Files -->
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="services.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
    <link rel="stylesheet" href="css/master.css">
</head>
<body ng-controller="AnalyticsController" id="scrollArea">

	<!-- <a href="/request">Input a request</a> -->
	<nav class="navbar navbar-default fixed-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Case Routing</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- <li><a href="#analytics">Analytics</a></li>
                    <li><a href="#valuestable">Values Table</a></li>
                    <li><a href="#email-us">Email Us</a></li> -->
                    <li><a ng-click="gotoElement('analytics')">Analytics</a></li>
                    <li><a ng-click="gotoElement('valuestable')">Values Table</a></li>
                    <li><a ng-click="gotoElement('email-us')">Email Us</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="#About">About</a></li>
                </ul> -->
            </div>
        </div>
    </nav>

	<!-- Four Charts (2 Bar charts and 1 Timeseries) -->
	<!-- removed: chart-series="series", -->
	<a id="analytics"></a>
	<div class="space"></div>
    <div class="container-fluid" ng-controller="AnalyticsController">
        <div class="row">
            <legend>Analytics</legend>
            <div class="col-md-4">
                <canvas id="base"
					class="chart-base"
					chart="chart"
					chart-color="colorCategory"
					chart-type="bar"
					chart-data="dataCategory"
					chart-options="optionsCategory"
					chart-labels="labelsCategory"
					chart-dataset-override="datasetOverride"
					ng-click="showData($event)">
				</canvas>
            </div>
            <div class="col-md-4">
                <canvas id="base"
					class="chart-base"
					chart="chart"
					chart-type="bar"
					chart-data="dataServicer"
					chart-options="optionsServicer"
					chart-labels="labelsServicer"
					chart-dataset-override="datasetOverride"
					ng-click="showData($event)">
				</canvas>
            </div>
            <div class="col-md-4">
                <canvas id="base"
					class="chart-base"
					chart="chart"
					chart-type="line"
					chart-data="dataDate"
					chart-options="optionsDate"
					chart-labels="labelsDate"
					chart-dataset-override="datasetOverride"
					ng-click="showData($event)">
				</canvas>
            </div>
            <div class="col-md-4 col-md-offset-4">
				<!-- Below is chart-options, that somehow breaks the UI of the chart -->
				<!-- chart-options="optionsDate" -->
				<canvas id="base"
					class="chart-base"
					chart="chart"
					chart-type="pie"
					chart-data="dataDate"
					chart-labels="labelsDate"
					chart-click="onClick"
					chart-dataset-override="datasetOverride"
					chart-options="emailsRegion"
					ng-click="showData($event)">
				</canvas>
            </div>
        </div>

        <!-- Values Table -->
		<a id="valuestable"></a>
        <div class="space"></div>
        <div class="row">
            <legend>Values Table</legend>
            <div class="col-md-12">
				<div class="tableScroll">
					<table class="table table-striped table-hover" id="#valuestable" border="1" bordercolor="#DDDDDD">
	                    <thead>
	                        <tr>
	                            <th>ID</th>
	                            <th>Email Address</th>
	                            <th>Email Body</th>
	                            <th>Date Sent</th>
	                            <th>Category Predicted</th>
	                            <th>Category By User</th>
	                            <th>Category Servicer</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="row in rawData | limitTo:5">
	                            <td>{{row.id}}</td>
	                            <td>{{row.emailAddress}}</td>
	                            <td>{{row.email}}</td>
	                            <td>{{row.dateEmailSent}}</td>
	                            <td>{{row.categoryPredicted}}</td>
	                            <td>{{row.categoryByUser}}</td>
	                            <td>{{row.servicer}}</td>
	                        </tr>
	                    </tbody>
	                </table>
				</div>
            </div>
        </div>

        <!-- Email Us Form -->
		<a id="email-us"></a>
		<div class="space"></div>
        <div class="row">
            <legend>Email Us</legend>
            <div class="col-md-6">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="subject" placeholder="Email Address" ng-model="subject">
                                <textarea class="form-control" rows="15" id="content" ng-model="content" placeholder="Please input your email here"></textarea>
								<button type="submit" class="btn btn-default btn-block" ng-click="submitEmail(subject, content)">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endraw %}
